/* font-family: "Oswald", Sans-Serif;


font-family: "Quattrocento", Serif; */
body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dae2f8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d6a4a4,
    #dae2f8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div {
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0;
  margin: auto;
  max-width: 100%;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
div h1 {
  padding: 0.2rem;
  font-family: "Oswald", Sans-Serif;
}

ul {
  list-style: none;
  padding: 0;
}
ul li {
  padding: 10px;
  margin: 1rem 0;
  font-size: 1.1rem;
  font-family: "Quattrocento", Serif;
}
ul li input:hover {
  cursor: pointer;
}

button {
  background-color: #ffbb91;
  font-size: 1.5rem;
  display: block;
  color: white;
  border: none;
  outline: none;
  padding: 2rem;
  width: 100%;
  font-family: inherit;
  text-transform: uppercase;
}

button:hover {
  cursor: pointer;
  background-color: #ffcc91;
}

input {
  width: 230px;
}
